/*----- Accordion Styles ----*/

.ac-container {
  width: 100%;
  text-align: left;
  margin: 10px 0 0;
  box-sizing: border-box;
  font-size: 14px;

  a,
  a:hover {
    text-decoration: none;
  }

  .bwl-faq-container {
    margin: 0 0 11px 0;

    label {
      padding: 7px 20px 7px 10px;
      position: relative;
      z-index: 20;
      display: block;
      cursor: pointer;
      color: #777;
      line-height: 1.5em;
      font-size: 15px;
      font-weight: bold;
      background: #ffffff;
      box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 1px rgba(0, 0, 0, 0.1);
      &::after {
        font-weight: normal;
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0px;
        top: 0px;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    article {
      margin: 0;
      padding: 0;
      background: #ffffff;
      margin-top: -1px;
      overflow: hidden;
      height: 0px;
      position: relative;
      z-index: 10;
      margin: 0px 0px 1px 0px;
      opacity: 1;

      li {
        padding-left: 12px;
      }
    }
    .baf_content {
      margin-bottom: 16px;
    }
  }

  // Meta Info

  .bwl_meta_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    span.fa {
      opacity: 0.7;
    }
  }
}

// .ac-container input:checked ~ article.ac-medium {
//   clear: both;
// }

// .ac-container article {
//   margin: 0 0 11px 0;
//   visibility: hidden;
// }
