.update-nag {
  display: none;
}
#instructions {
  max-width: 670px;
}
h3.title {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #ddd;
}
.new_version_box {
  background: #d54e21;
  padding: 0 5px;
  font-weight: bold;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.upgrade-pro {
  padding: 24px 0;

  &--center {
    text-align: center;
  }
}

// .baf-upgrade-pro {
//   display: flex;
// }
