/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/styles/frontend.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.baf_hidden,
.baf_dn {
  display: none;
}

/*----- According Shadow ----*/
.article-box-shadow {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

/*----- Taxonomy Info ----*/
.baf_taxonomy_info {
  margin: 16px 0;
}

/*----- Accordion Styles ----*/
.ac-container {
  width: 100%;
  text-align: left;
  margin: 10px 0 0;
  box-sizing: border-box;
  font-size: 14px;
}
.ac-container a,
.ac-container a:hover {
  text-decoration: none;
}
.ac-container .bwl-faq-container {
  margin: 0 0 11px 0;
}
.ac-container .bwl-faq-container label {
  padding: 7px 20px 7px 10px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #777;
  line-height: 1.5em;
  font-size: 15px;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.ac-container .bwl-faq-container label::after {
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 0px;
}
.ac-container .bwl-faq-container input[type=checkbox] {
  display: none;
}
.ac-container .bwl-faq-container article {
  margin: 0;
  padding: 0;
  background: #ffffff;
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  margin: 0px 0px 1px 0px;
  opacity: 1;
}
.ac-container .bwl-faq-container article li {
  padding-left: 12px;
}
.ac-container .bwl-faq-container .baf_content {
  margin-bottom: 16px;
}
.ac-container .bwl_meta_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 6px;
}

/*-----Search Form Element ----*/
.search_icon {
  background-origin: content-box;
  background: url(../images/search.7657ebd1.png) no-repeat;
  background-position: top 10px right 10px;
  background-position-x: 99%;
  background-position-y: 50%;
  border: 1px solid #cccccc;
}

.accordion_search_input_box::-ms-clear {
  display: none;
}

.search_load {
  background-origin: content-box;
  background: url(../images/loader.20cf8d3d.gif) no-repeat;
  background-position: top 10px right 10px;
  background-position-x: 99%;
  background-position-y: 50%;
}

.ac-container .bwl-faq-search-panel input:focus {
  background-color: #ffffff;
  border: 1px solid #c6e1ec;
  text-shadow: none;
}

.ac-container .bwl-faq-search-panel .bwl-filter-message {
  clear: both;
  font-size: 15px;
  position: relative;
  display: block;
}

form.bwl-faq-search-panel + div.bwl-faq-container {
  margin-top: 24px;
}

i.highlight {
  font-style: normal;
  display: inline-block;
}

.baf_suggestion {
  text-align: center;
}

.baf_suggestion_prefix {
  font-size: 16px;
}

.ac-container fieldset {
  border: 0px solid #ffffff;
}

.ac-container .bwl-faq-search-panel {
  position: relative;
}

.ac-container .bwl-faq-search-panel span.baf-btn-clear {
  position: absolute;
  top: 5px;
  right: 4px;
  width: 30px;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
}

.ac-container .bwl-faq-search-panel span.baf-btn-clear:after {
  position: absolute;
  content: "X";
  display: inline-block;
  top: 0;
  left: 7px;
  font-weight: bold;
  font-size: 14px;
  color: #6a6a6a;
  font-family: verdana;
  transition: all 0.7s ease-out;
  transform: rotateY(0deg);
}

.ac-container .bwl-faq-search-panel span.baf-btn-clear:hover:after {
  transform: rotateY(360deg);
}

.ac-container .bwl-faq-search-panel span.baf-btn-clear:hover {
  color: #2c2c2c;
}

.ac-container .bwl-faq-search-panel input {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 0px;
  -o-box-shadow: 0px;
  box-shadow: 0px;
  height: 48px;
  text-shadow: none;
  width: 100%;
  margin-bottom: 11px;
  padding: 0 8px;
  text-indent: 5px;
  transition: all 0.5s ease-in-out;
}

.ac-container .bwl-faq-search-panel input:focus {
  border: 1px solid #c1c1c1 !important;
  outline: none;
}

/*--- Semi Rounded Search Box ----*/
.ac-container .bwl-faq-search-panel input.semi-rounded {
  border-radius: 6px !important;
  height: 48px !important;
  padding: 0px 8px !important;
  background-position-x: 98% !important;
}

.ac-container .bwl-faq-search-panel input.semi-rounded + span.baf-btn-clear {
  right: 14px;
  border-radius: 100%;
  top: 5px;
}

/*---Rounded Search Box ----*/
.ac-container .bwl-faq-search-panel input.rounded {
  border-radius: 32px !important;
  height: 48px !important;
  padding: 0px 8px !important;
  background-position-x: 98% !important;
}

.ac-container .bwl-faq-search-panel input.rounded + span.baf-btn-clear {
  right: 6px;
  border-radius: 100%;
  top: 5px;
}

/*---Box Shadow ----*/
.sbox-custom-box-shadow {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0px 7px 7px rgba(0, 0, 0, 0.03);
}

.sbox-custom-box-shadow:focus {
  box-shadow: 0 0px 7px 10px rgba(0, 0, 0, 0.03);
  outline: none;
}

/*---Sbox Layout ----*/
.closed-label,
.opened-label {
  position: relative;
}

.opened-label:after,
.closed-label:after {
  font-family: "FontAwesome";
  content: "\f107";
  background: transparent;
  display: inline-block;
  font-size: 20px !important;
  width: 24px;
  height: 24px;
  text-align: center;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: rotateZ(0deg);
  /*background: blue;*/
  text-align: center;
  vertical-align: middle;
  top: 50%;
  right: 0;
  margin-top: 6px;
  line-height: 24px;
}

.opened-label:after {
  transform: rotateZ(0deg);
  top: 3px !important;
  right: 6px !important;
  line-height: 16px;
}

.closed-label:after {
  transform: rotateZ(-180deg);
  top: 6px !important;
  right: 6px !important;
}

/*----- Rating Styles ----*/
.ac-container hr.ultra-fancy-hr {
  background-color: #ebebeb;
  background-image: linear-gradient(to left, #ffffff 0%, #ebebeb 50%, #ffffff 100%);
  border: none;
  height: 1px;
  width: 100%;
}

.post-like-container {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 8px;
}
.post-like-container.liked {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px 0;
}
.post-like-container a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.post-like-container a .post-like {
  color: #228aff;
  font-size: 24px;
}
.post-like-container a:hover .post-like {
  color: #333333;
}
.post-like-container .count {
  text-align: left;
}

.post-like-status {
  font-size: 16px;
  margin: 4px 0;
}

.post-like.alreadyvoted {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
}

/*-----Expand & Collapse BTN ----*/
.baf-ctrl-btn {
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 6px;
}
.baf-ctrl-btn .baf-expand-all,
.baf-ctrl-btn .baf-collapsible-all {
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 10px;
  font-weight: bold;
  background: #f7f7f7;
  border: 0px solid #eeeeee;
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----- Flat ----*/
.baf_layout_flat {
  clear: both;
}

.baf_layout_flat .bwl-faq-container {
  padding: 4px;
  margin-bottom: 3px !important;
}

.baf_layout_flat .bwl-faq-container label {
  box-shadow: none;
  padding: 12px 12px;
}

.baf_layout_flat label:after,
.baf_layout_flat label:hover:after,
.baf_layout_flat input:checked + label:hover:after {
  margin-top: 16px;
}

/*----- Semi Rounded ----*/
.baf_layout_semi_round {
  clear: both;
}

.baf_layout_semi_round .bwl-faq-container {
  padding: 3px 10px;
  border-radius: 6px;
  background: inherit;
}

.baf_layout_semi_round .bwl-faq-container label {
  box-shadow: none;
}

.baf_layout_semi_round .bwl-faq-container .ac-medium {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 0px;
}

.baf_layout_semi_round .ac-container input:checked ~ article.ac-medium {
  padding: 24px;
  margin-bottom: 12px;
}

.baf_layout_semi_round label:after,
.baf_layout_semi_round label:hover:after,
.baf_layout_semi_round input:checked + label:hover:after {
  top: 10px;
  right: 12px;
}

/*----- Rounded ----*/
.baf_layout_round {
  clear: both;
}

.baf_layout_round .bwl-faq-container {
  padding: 3px 10px;
  border-radius: 18px;
  background: inherit;
}

.baf_layout_round .bwl-faq-container label {
  box-shadow: none;
}

.baf_layout_round .bwl-faq-container .ac-medium {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
}

.baf_layout_round .ac-container:first-child input:checked ~ article.ac-medium {
  padding: 24px;
  margin-bottom: 12px;
}

.ac-medium .ac-container {
  margin-bottom: 0px;
}

.baf_layout_round label:after,
.baf_layout_round label:hover:after,
.baf_layout_round input:checked + label:hover:after {
  top: 10px;
  right: 12px;
}

/*----- FAQ FORM----*/
.bwl-form-success-box {
  background: #8ad088;
  color: #ffffff;
}

.bwl-form-wait-box {
  background: #ffffc1;
  color: #000000;
}

.bwl-form-error-box {
  background: #e63f37;
  color: #ffffff;
}

.bwl-faq-form-container {
  margin: 12px 0;
  clear: both;
  display: flex;
  flex-direction: column;
  gap: 16px 0px;
}
.bwl-faq-form-container h2 {
  border-bottom: 1px solid #eeeeee;
  font-size: 24px;
}
.bwl-faq-form-container .bwl-faq-form-message-box {
  width: 100%;
  line-height: 2.4em;
  display: none;
  padding: 6px 12px;
}
.bwl-faq-form-container form {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.bwl-faq-form-container form .baf_field {
  display: flex;
  flex-direction: column;
}
.bwl-faq-form-container form .baf_field label {
  font-size: 16px;
}
.bwl-faq-form-container form input[type=text] {
  width: 100%;
  border: 1px solid #c6c6c6;
  padding: 6px;
}
.bwl-faq-form-container form select {
  background: #ffffff;
  padding: 12px 6px;
  border: 1px solid #c6c6c6;
}
.bwl-faq-form-container form .baf_field:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  gap: 12px 12px;
  justify-content: flex-start;
  align-items: center;
}
.bwl-faq-form-container form .sum {
  display: flex;
  flex-basis: 42px;
  border: 1px solid #cccccc;
  background: #c6c6c6;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.bwl-faq-form-container form .sum:focus {
  border: 1px solid #c6c6c6;
}
.bwl-faq-form-container form .captcha {
  display: flex;
  flex-basis: 60px;
  border: 1px solid #c6c6c6;
  text-align: center;
}
.bwl-faq-form-container form #spambot {
  font-size: 12px;
  line-height: 16px;
}
.bwl-faq-form-container form input[type=submit] {
  border: 1px solid #cccccc;
  width: 160px;
  padding: 8px 0px;
  font-weight: bold;
}

@media (min-width: 1100px) {
  .bwl-faq-form-container form select {
    width: 60%;
  }
}
div.bwl-faq-tab-content {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  outline: none;
}

.bwl-faq-content-wrapper {
  clear: both;
  border: 1px solid #ccc;
  margin: 0 0 11px 0;
  padding: 0;
}

.bwl-faq-content-wrapper-ver {
  float: left !important;
  width: 80%;
  border: 1px solid #ccc;
  margin: 0px 0px !important;
  padding: 0;
  clear: none !important;
}

.bwl-faq-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bwl-faq-wrapper ul.bwl-faq-tabs {
  position: relative;
  z-index: 50;
  padding: 0px;
  margin: 0px 0px -1px 0px;
}

.bwl-faq-wrapper ul.bwl-faq-tabs-ver {
  position: relative;
  z-index: 50;
  padding: 0px;
  margin: 0px 0px !important;
  width: 20%;
  float: left;
}

.bwl-faq-wrapper ul.bwl-faq-tabs li {
  display: block;
  background: none;
  float: left;
  margin: 0;
  padding: 0;
}

.bwl-faq-wrapper ul.bwl-faq-tabs-ver li {
  width: 100%;
  margin-bottom: 2px;
}

.bwl-faq-wrapper ul.bwl-faq-tabs li a {
  list-style: none;
  display: block;
  padding: 5px 11px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background: #fff;
  outline: none;
}

.bwl-faq-wrapper ul.bwl-faq-tabs-ver li a {
  list-style: none;
  display: block;
  padding: 5px 11px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background: #fff;
  outline: none;
}

.bwl-faq-wrapper ul.bwl-faq-tabs li.active a {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: -1px;
  background: #fafafa;
}

.bwl-faq-wrapper ul.bwl-faq-tabs-ver li.active a {
  border-left: 0px solid #ccc;
  border-right: 0px solid #ccc;
  margin-bottom: 1px;
}

.bwl-faq-wrapper ul.bwl-faq-tabs li.active {
  border-top: 3px solid #2c2c2c;
}

.bwl-faq-wrapper ul.bwl-faq-tabs-ver li.active {
  border-top: 0px solid #2c2c2c;
  border-left: 3px solid #2c2c2c;
}

/*-----Pagination ----*/
#baf_page_navigation {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px 0;
}
#baf_page_navigation a {
  padding: 1px 7px;
  border: 1px solid #cccccc;
  margin: 2px;
  text-decoration: none;
  text-align: center;
  outline: none;
  display: inline-block;
  background: #fff;
  color: #333333;
}
#baf_page_navigation a.active_page {
  font-weight: bold;
  color: #333333;
}
#baf_page_navigation a.previous_link, #baf_page_navigation a.next_link {
  padding: 1px 12px;
  font-weight: bold;
  background: #ffffff;
}
#baf_page_navigation span.total_pages {
  display: inline-block;
  margin: 5px 0 0 0;
  font-size: small;
}

/*-----  BAF WIDGET ----*/
.baf-widget {
  clear: both;
}

.baf-widget ul {
  clear: both;
}

.baf-widget ul li {
  line-height: 32px;
}

.baf-widget ul.children li {
  padding-left: 12px;
}

/*----- New Code ----*/
.baf-hide-article {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s linear 300ms, opacity 0ms !important;
  height: 0 !important;
}

.baf-show-article {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0s linear 0s, opacity 800ms !important;
  height: auto !important;
}

.baf-article-padding {
  padding: 12px !important;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .ac-container {
    font-size: 12px;
  }
  .ac-container label {
    font-size: 13px;
    font-weight: normal;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs li a {
    font-size: 13px;
  }
  .bwl-faq-form-container h2 {
    font-size: 13px;
  }
  /*-----TAB ----*/
  .bwl-faq-wrapper ul.bwl-faq-tabs li {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs li.active a {
    border-bottom: 1px solid #eeeeee;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs-ver,
  .bwl-faq-content-wrapper-ver {
    width: 100%;
    clear: both;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs-ver li.active a {
    border-bottom: 1px solid #eeeeee;
  }
  /*----- Flat Layout ----*/
  .baf_layout_flat .bwl-faq-container label {
    line-height: 24px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .ac-container {
    font-size: 13px;
  }
  .ac-container label {
    font-size: 14px;
    font-weight: bold;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs li a {
    font-size: 14px;
  }
  .bwl-faq-form-container h2 {
    font-size: 14px;
  }
  /*----- TAB ----*/
  .bwl-faq-wrapper ul.bwl-faq-tabs li {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs li.active a {
    border-bottom: 1px solid #eeeeee;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs-ver,
  .bwl-faq-content-wrapper-ver {
    width: 100%;
    clear: both;
  }
  .bwl-faq-wrapper ul.bwl-faq-tabs-ver li.active a {
    border-bottom: 1px solid #eeeeee;
  }
}

/*# sourceMappingURL=frontend.css.map*/